body{
	font-family: sans-serif;
	margin: 0;
	background-color: #fafafa;
}
div.main-container{
	display: block;
	text-align: center;
}
div.phone-image{
	
	width: 50%;
}
.phone-image img{
	margin-top: 130px;
  margin-left: 280px;
	
}
.aaa{
	display: flex;
}
.rigth-side{
	margin-top: 60px;
	margin-right: 280px;
	padding-left: 20px;
}

.log-in-box{
	width: 345px;
	background-color: white;
	border: 1px solid #e6e6e6;
}
.instagram-logo{
	margin-top: 24px;
	width: 170px;
	height: auto;
}
h2{
	font-size: 17px;
	color: #999999;
}
.facebook-log-in {
  width: 80%;
  height: 30px;
  background: #03a5e5;
  font-size: 14px;
  color: white;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #03a5e5;
  cursor: pointer;  
  margin-bottom: 17px; 
  margin-top: 5px;
}
.or{
	color: #999999;
	font-size: 14px;
	font-weight: 525;
}

form{
	margin-top: 8px;
}
.info{
  width: 74%;
  height: 13px;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
  font-size: 12px;
  text-decoration-color: #f2f2f2;
  margin-top: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f2f2;
  background-color: #fafafa;
}
.sign-up{
	width: 80%;
	height: 30px;
	background: #03a5e5;
	font-size: 14px;
	color: white;
	border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #03a5e5;
  	cursor: pointer;  
  	margin-top: 20px;
}
.log-in-box p{
	margin-top: 20px;
	color: #a6a6a6;
	font-size: 14px;
	margin-bottom: 40px;
}
.log-in{
	margin-top: 10px;
	width: 345px;
	background-color: white;
	border: 1px solid #e6e6e6;
	color: #a6a6a6;
	font-size: 14px;
}
.log-in p{
	padding-top: 18px;
	padding-bottom: 18px;
	color: #1a1a1a;
	font-size: 14px;
}
.log-in a{
	text-decoration: none;
	color: #03a5e5; 
}
.download{
	margin-top: 30px;
	width: 345px;
}
.download p{
	font-size: 15px;
}
.app-store{
	width: 40%;
	height: auto;
}
.google-play{
	margin-top: 10px;
	width: 40%;
	height: auto;
}
.footer{
	margin: 30px 0px;
	display: inline;
}
.footer span{
	color:  #000080;
	text-transform: uppercase;
	font-weight: 550;
	font-size: 12px;
	margin: 30px 10px;
}